.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Chia form thành hai cột bằng nhau */
  gap: 16px; /* Khoảng cách giữa các ô */
  grid-auto-flow: column; /* Xếp các phần tử theo cột */
}

.grid-item {
  width: 100%; /* Set chiều rộng của các ô input */
}

