<h2 mat-dialog-title>Thêm mới loại sản phẩm</h2>
<mat-dialog-content>
  <form class="grid-container" style="margin-top: 2rem;" [formGroup]="productCategoryFormGroup">
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-form-field class="grid-item" appearance="outline" color="accent">
        <mat-label>Tên loại sản phẩm</mat-label>
        <input matInput formControlName="name" type="text">
      </mat-form-field>
      <mat-form-field class="grid-item" appearance="outline" color="accent">
        <mat-label>URL (Slug)</mat-label>
        <input matInput formControlName="url" type="text">
      </mat-form-field>
      <mat-form-field class="grid-item" appearance="outline" color="accent">
        <mat-label>Mô tả</mat-label>
        <textarea matInput formControlName="description" rows="3"></textarea>
      </mat-form-field>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-form-field class="grid-item" appearance="outline" color="accent">
        <mat-label>Ngày kích hoạt</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="activeStartDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="grid-item" appearance="outline" color="accent">
        <mat-label>Ngày kết thúc</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="activeEndDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

    </mat-grid-list>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="isSubmitting">Huỷ</button>
  <button mat-raised-button color="accent" [disabled]="isSubmitting" (click)="createProductCategory()">
    Thêm mới
    <mat-icon *ngIf="isSubmitting">
      <mat-spinner color="accent" diameter="15"/>
    </mat-icon>
  </button>
</mat-dialog-actions>
