<p-card header="Product Catalog">
    <p-button icon="pi pi-plus" label="Create" size="small" />
    <p-button icon="pi pi-trash" label="Delete" size="small" severity="danger"  class="ml-2" />
</p-card>
<p-card class="mt-2">

</p-card>

<p-dialog header="Add product" [modal]="true" [visible]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
          [style]="{ width: '50vw' }"
          [draggable]="false" closable="false"
          [resizable]="false">

  <div class="card">
    <form [formGroup]="formGroup">


      <div class="flex flex-column gap-2 justify-content-start">
        <label for="productType">What type of entity would you like to create?</label>
        <p-dropdown id="productType"
                    formControlName="selectedCity" appendTo="body" styleClass="w-full"
                    [options]="cities"
                    optionLabel="name"
                    placeholder="Select a City" />
      </div>


    </form>
  </div>
  <div class="flex justify-content-end gap-2 mt-5">
    <p-button label="Cancel" severity="danger"  size="small" />
    <p-button label="Save"  size="small" />
  </div>
</p-dialog>

<p-toast/>
<p-confirmDialog />
